*{
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    background-size: cover;
    background-position: center;
    background: url(../img/fondo.png), linear-gradient(to left, #444444, #777777)
}
body{
    font-family: quicksand;
}
#bodyMain{
    background-color: rgba(0, 0, 0, 0.3);
}

/* Nav Bar */
#logo{
    width: 33.3%;
    display: flex;
    justify-content: center;
}
#logo img{
    width: 15%;
}
header{
    padding: 1em;
    padding-right: 10%;
    padding-left: 10%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    background-color: #fafafa;
}
#hmain{
    position: fixed;
    background-color: transparent;
}
nav{
    width: 33.3%;
    padding: 0.2em;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    margin: 1em;
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding:0.5em;
    font-weight: bolder;
}
li a:hover{
    border-bottom: 2px solid white;
    color:white;
}
#ulMenu2{
    margin:0;
    width: 33.3%;
    display: flex;
    justify-content: end;
}
#ulMenu2 li{
    border:0;
}
#contact{
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 100px;
}
#contact:hover{
    color: #1c1d1f;
    background-color: #00ffff;
}
#bton{
    text-align: center;
    text-decoration: none;
    color: #00ffff;
    font-size: 1.5em;
    border: #00ffff 2px solid;
    background-color: #fff;
    border-radius: 1000px;
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: fixed;
    bottom: 5%;
    right: 2%;
    display: none;
    opacity: 50%;
}
.liMain{
    color: black;
}
.liMain:hover{
    border-bottom: 2px solid black;
    color:black;
}
.liMain2{
    color:black;
    border: 1px solid black;
    border-radius: 100px;
    padding: 0.5em;
}
.liMain2:hover{
    color:black;
    background-color: #00ffff;
    border: 1px solid black;
    border-radius: 100px;
}
.normal{
    color:white;
}

/* Main */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#sectionMain{
    display: flex;
    flex-direction: column;
    text-shadow: 1px 1px 4px black;
}
#sectionMain1{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sectionMain1 article{
    border:6px solid white;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#sectionMain1 article h1{
    font-size: 4em;
    color: white;
}
#sectionMain1 article p{
    font-size: 1.2em;
    color: white;
}
#sectFigure{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 50%;
}
#sectFigure img{
    width: 6%;
    padding: 1em;
}
#sectionMain2{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sectionMain2 article{
    width: 50%;
}
#sectionMain2 h1{
    font-size: 3em;
    color: white;
}
#sectionMain2 p{
    font-size: 1.2em;
    color: white;
}

/* -- Projects Page -- */
.menu2 a{
    color: black;
}
.menu2 a:hover{
    border-bottom: 2px solid black;
    color:black;
    font-weight: bolder;
}
.ulMenu2 li a{
    color:black;
    border: 1px solid black;
    border-radius: 100px;
}
.ulMenu2 li a:hover{
    color: black;
    background-color: #00ffff;
    font-weight: bolder;
}
.cpages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
aside{
    text-align: center;
    width: auto;
    background-color: #1c1d1f;
    color: white;
}
aside ul{
    display: flex;
    flex-direction: column;
}
aside ul li{
    padding: 0.5em;
}
aside ul li:hover{
    color:black;
    background-color: white;
    font-weight: 800;
}
#art{
    width: 87%;
    height: 100%;
    background-position-x: 50%;
}
#h2P{
    background-color: transparent;
    margin:0;
    padding:1em;
    color: black;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 2em;
}
#art article{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    background: none;
}
#PL{
    font-size: 1.2em;
    margin-top: 2em;
}
#PT, #PD{
    text-shadow: 1px 1px 4px black;
}
#PL a{
    text-decoration: none;
    padding: 0.2em;
    color: white;
    border: 1px solid white;
    border-radius: 100px;
    text-shadow: 1px 1px 4px black;
}
#PL a:hover{
    color: #1ca591;
    border: 1px solid #1ca591;
}
#cerrar{
    width: 1.2em;
    margin-top: 1em;
    color:crimson;
    font-weight: bolder;
    font-size: 1.4em;
    border-radius: 100px;
    text-shadow: 1px 1px 4px black;
}

/* -- Contact Page -- */
#sectContact{
    padding: 2em;
    width: 20%;
    border: 4px solid white;
    box-shadow: 0px 0px 4px black;
}
#sectContact article{
    height: auto;
    width: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#sectContact h1{
    padding-bottom: 1em;
    color: white;
    text-shadow: 1px 1px 4px black;
}
#sectContact article p{
    color: black;
    padding: 0.2em;
    color: white;
    text-shadow: 1px 1px 4px black;
}
#sectContact article a{
    text-decoration: none;
    font-weight: bolder;
    margin-left: 0.1em;
    color: white;
    text-shadow: 1px 1px 4px black;
}
#sectContact article a:hover{
    text-decoration: underline;
}
#figContact{
    width: 100%;
    margin-top: 2em;
}
#figContact img{
    width: 30%;
}

/* --- Responsive --- */
@media all and (max-width: 600px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    header{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 10vh;
        top:0;
        width: 100%;
    }
    header nav{
        width: 74%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #logo{
        display: none;
    }
    #logoMob{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #logoMob img{
        width: 30%;
    }
    #ulMenu2{
        width: 24%;
        display: flex;
        justify-content: center;
    }
    header a{
        border: 0;
        margin: 0;
        padding:0;
        width: 20%;
    }
    #ulMenu2 a{
        padding:0.5em;
    }
    #sectionMain1 article{
        width: 80%;
        height: auto;
    }
    #sectFigure img{
        width: 10%;
    }
    #sectionMain2 article{
        width: 80%;
        height: auto;
    }
    /* Projects Page */
    .cpages{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    aside{
        padding-bottom: 1em;
        padding-top:1em;
        width: 100%;
    }
    /* Burguer Menu */
    #contenedor-menu a{
        color: white;
        text-decoration: none;
        font-weight: bolder;
        font-size: 1.2em;
    }
    #h2P{
        display: none;
    }
    #contenedor-menu #cerrarMenu{
        display: none;
    }
    #contenedor-menu #contenedor-enlaces{
        height:0;
        transition: height 0.5s ease;
        overflow: hidden;
    }
    #contenedor-menu:target #abrir{
        display: none;
    }
    #contenedor-menu:target #cerrarMenu{
        display: block;
    }
    #contenedor-menu:target #contenedor-enlaces{
        height: 50vh;
        transition: height 0.5s ease;
    }
    #contenedor-enlaces{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    /* Projects view */
    #art{
        width: 100%;   
    }

    /* Contact Page */
    #sectContact{
        width: 70%;
    }
    #sectContact article p{
        display: flex;
        flex-direction: column;
    }
}   

@media all and (min-width: 600px){
    aside{
        width: 24%;
    }
    #abrir, #cerrarMenu, #logoMob{
        display: none;
    }
    #sectContact{
        width: 60%;
    }
}

@media all and (min-width: 1500px){
    aside{
        width: 15%;
    }
    #abrir, #cerrarMenu, #logoMob{
        display: none;
    }
}
