*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: quicksand;
    background-color: antiquewhite;
}
header{
    height: 30%;
    background-color: #1c1d1f;
    color: white;
}
h1{
    text-align: center;
    padding: 1em;
    font-size: 2.4em;
}
nav{
    padding: 0.2em;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    margin: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid black;
    border-radius: 90px;
    list-style: none;
}
li:hover{
    border: 1px solid white;
    background-color: black;
    font-weight: 800;
}
#contact{
    float: right;
}
li a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
li a:hover{
    color:white;
}
main{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
section{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2{
    margin-top: 1em;
    margin-bottom: 1em;
}
figure{
    margin-top: 2em;
    opacity: 0.5;
}
figure img{
    width: 4%;
    padding: 0.4em;
}
footer{
    padding: 1.5em;
    background-color: #1c1d1f;
    color: #fff;
    text-align: center;
}

/* Proyectos.html */

#mainP{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
aside{
    height: 100%;
    width: 12%;
    padding: 1em;
    margin-top: 2em;
    background-color: #1c1d1f;
    color: white;
}
aside ul{
    display: flex;
    flex-direction: column;
}
aside ul li{
    border: 1px solid white;
}
aside ul li:hover{
    border: 1px solid black;
    color:black;
    background-color: white;
    font-weight: 800;
}
#mainP section{
    width: 87%;
    background-position-x: 50%;
}
#PL{
    font-size: 1.2em;
    margin-top: 2em;
}
#PT, #PD{
    text-shadow: 1px 1px 4px black;
}

#PL a{
    text-decoration: none;
    padding: 0.2em;
    color: white;
    border: 1px solid white;
    border-radius: 100px;
    text-shadow: 1px 1px 4px black;
}
#PL a:hover{
    color: #1ca591;
    border: 1px solid #1ca591;
}
article{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    background: none;
}
#h2P{
    background-color: transparent;
    margin:0;
    padding:1em;
    color: black;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 2em;
}
#cerrar{
    width: 1.2em;
    margin-top: 1em;
    color:crimson;
    font-weight: bolder;
    font-size: 1.4em;
    border-radius: 100px;
    text-shadow: 1px 1px 4px black;
}

#bton{
    text-decoration: none;
    color: #1ca591;
    font-size: 1.5em;
    border: #1ca591 2px solid;
    background-color: #fff;
    border-radius: 1000px;
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: fixed;
    bottom: 5%;
    right: 2%;
}

/* Contacto */
#sectContact{
    color: black;
    width: 20%;
}
#sectContact article{
    height: auto;
    width: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#sectContact article a{
    color: black;
    font-weight: bolder;
    margin-left: 0.1em;
}
#sectContact article p{
    color: black;
    padding: 0.2em;
}

/* Responsive */

@media all and (max-width: 600px){
    h1{
        margin:0;
        padding:0;
        padding-top: 0.5em;
        padding-bottom: 1em;
        width: 100%;
        font-size: 2em;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    ul{
        display: inline-block;
        width: auto;
    }
    #ul2{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #contact{
        float: none;
    }
    li a{
        padding-left: 40%;
        padding-right: 40%;
        margin: 0 auto;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
    }
    main section{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
    }
    main section h2{
        font-size: 3em;
    }
    main section p{
        font-size: 1.1em;
    }
    figure{
        width: 100%;
    }
    figure img{
        width: 12%;
    }

    #mainP{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    aside{
        margin:0;
        padding:0;
        padding-top: 0.5em;
        padding-bottom: 1em;
        width: 100%;
        height: auto;
    }

    aside ul{
        display: flex;
        flex-direction: row;
    }
    aside ul li{
        width: 0 auto ;
        padding: 0.4em;
    }

    #mainP section{
        width: 100%;
    }
    #art{
        height:100%;
    }
    #h2P{
        display: none;
    }
    #PT{
        font-size: 2.5em;
    }

    #mainContact{
        height: auto;
    }
    #sectContact{
        margin: 0;
        padding: 0;
        width: 90%;
        padding-bottom: 10%;
    }
    #sectContact h2{
        font-size: 2.6em;
    }
    #sectContact article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #sectContact article p{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1em;
    }
    #contenedor-menu #cerrarMenu{
        display: none;
    }
    #contenedor-menu #contenedor-enlaces{
        height:0;
        transition: height 0.5s ease;
        overflow: hidden;
    }
    #contenedor-menu:target #abrir{
        display: none;
    }
    #contenedor-menu:target #cerrarMenu{
        display: block;
    }
    #contenedor-menu:target #contenedor-enlaces{
        height: 50vh;
        transition: height 0.5s ease;
    }
    #contenedor-enlaces{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .menD{
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        padding: 0.2em;
    }
    
    #ft{
        display: none;
    }
}

@media all and (min-width: 600px){
    aside{
        width: 24%;
    }
    #abrir, #cerrarMenu, #bton{
        display: none;
    }
}

@media all and (min-width: 1500px){
    aside{
        width: 15%;
    }
    #abrir, #cerrarMenu, #bton{
        display: none;
    }
}
